@using AnnualReports.Web.ViewModels.BarModels
@model IEnumerable<AnnualReports.Web.ViewModels.BarModels.BarDetailsViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapToBarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbSource)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BarNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @foreach (var mapToBar in item.MapToBarNumber.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                        {
                            @mapToBar<br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DbSource)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <span class="label label-info">No data match the search criteria!</span>
                </td>
            </tr>

        }
    </tbody>
</table>