@using X.PagedList.Mvc;
@using X.PagedList;
@using AnnualReports.Web.ViewModels.BarModels;
@model BarsListViewModel

@{
    ViewBag.Title = "Index";
    var pagedList = (IPagedList)Model.Data;
    var displayResults = (bool)ViewBag.DisplayResults;
}

<h2>Bars</h2>

<p>
    @Html.ActionLink("Create new bar", "Create") |
    @Html.ActionLink("Upload excel sheet", "Upload") |
    @Html.ActionLink("Copy bars from year", "Copy")
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading bold">Filters:</div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Bars", FormMethod.Get))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Filters.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Filters.Year, new { fieldName = "year" })
                                @Html.ValidationMessageFor(model => model.Filters.Year, "", new { @class = "text-danger", data_valmsg_for = "year" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Filters.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Filters.DisplayName, null, "displayname", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Filters.BarNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Filters.BarNumber, null, "barnumber", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Filters.DbSource, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Filters.DbSource, (IEnumerable<SelectListItem>)ViewBag.AvailableDbSources, "--Please Select--",
                                new { @class = "form-control", Name = "dbsource" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Filter" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (displayResults)
    {
        Html.RenderPartial("_BarsList", Model.Data);
        <div>
            @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, year = Model.Filters.DateAsYear, displayname = Model.Filters.DisplayName,barnumber = Model.Filters.BarNumber, dbsource = Model.Filters.DbSource }))
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/plugins")
    }
</div>
